<!doctype html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>raindrop.py</title>
        <link rel="stylesheet" href="/static/css/foundation.min.css" />
        <link rel="stylesheet" href="/static/css/jquery.growl.css" />
        <script src="/static/js/vendor/modernizr.js"></script>
        <script type="text/javascript">
            window.conditions = [];
        </script>
    </head>

    <body>

        <audio src="" id="player"></audio>
        <div class="previewsContainer" style="display:none"></div>

        <div style="height:3em"></div>

        <div class="row">

            <center><h2 id="info">Loading Weather Conditions...</h2></center>

        </div>

        <div style="height:1em"></div>
        <hr>

        <div class="row">

            <div class="large-12 columns">

                <ul class="large-block-grid-3" id="boxes">

                    {% for condition in conditions %}

                    <li>
                        <div style="border: 1px solid #000; padding-top:1em;
                            padding-bottom:1em;" id="upload-{{condition|replace(" ", "-")}}">
                            <center><h4>{{ condition }}</h3></center>
                        </div>
                    </li>

                    <script type="text/javascript">
                        window.conditions.push("{{ condition }}");
                    </script>

                    {% endfor %}

                </ul>

            </div>

        </div>

        <script src="/static/js/vendor/jquery.js"></script>
        <script src="/static/js/foundation.min.js"></script>
        <script src="/static/js/jquery.simpleWeather.min.js"></script>
        <script src="/static/js/dropzone.js"></script>
        <script>

            $(document).foundation();

            {% for condition in conditions %}
            $("#upload-{{condition|replace(' ', '-')}}").dropzone({
                url: "/stream/{{condition}}",
                paramName: "clip",
                clickable: true,
                previewsContainer: ".previewsContainer",
                success: function(file, response) {
                    $("#upload-{{condition|replace(' ', '-')}}").fadeOut(500).fadeIn(500);
                }
            });
            {% endfor %}
            
            var previous_weather;

            window.setInterval(function () {

                $.simpleWeather({
                    location: '{{ location }}',
                    woeid: '',
                    unit: 'f',
                    success: function(weather) 
                    {
                        $.ajax({
                            url: '/stream/' + weather.currently,
                            success: function() 
                            {
                                if(weather.currently != previous_weather)
                    			{
                        			document.getElementById('player').src = '/stream/' + weather.currently;
                        			document.getElementById('player').play();
                        			document.getElementById('player').loop = true;
                        			previous_weather = weather.currently;
                        		}
                            },
                            error: function() 
                            {
                                if (window.conditions.indexOf(weather.currently) < 0)
                                {
                                    var boxes = document.getElementById("boxes");
                                    var box = document.createElement("li");
                                    box.innerHTML = "<div style='border:1px solid #000; padding-top:1em;padding-bottom: 1em;' id='upload-" + weather.currently.replace(/\s+/g, '-') + "'><center><h4>" + weather.currently + "</h3></center></div>"
                                    boxes.appendChild(box);
                                    $("#upload-"+weather.currently.replace(/\s+/g, '-')).dropzone({
                                        url: "/stream/" + weather.currently,
                                        paramName: "clip",
                                        clickable: true,
                                        previewsContainer: ".previewsContainer",
                                        success: function(file, response) {
                                            $("#upload-" + weather.currently.replace(/\s+/g, '-')).fadeOut(500).fadeIn(500);
                                        }
                                    });
                                    window.conditions.push(weather.currently);
                                }
                            }
                        });
                        document.getElementById('info').innerHTML = "Currently " + weather.currently + " in {{ location }}";
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });

            }, 3000);

        </script>

    </body>

</html>
