<!doctype html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Alexandria</title>
        <link rel="stylesheet" href="/static/css/foundation.min.css" />
        <link rel="stylesheet" href="/static/css/jquery.growl.css" />
        <script src="/static/js/vendor/modernizr.js"></script>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    </head>

    <body>
    
        <script src="/static/js/vendor/jquery.js"></script>
        <script src="/static/js/foundation.min.js"></script>
        <script src="/static/js/jquery.simpleWeather.min.js"></script>
        <script>

            $(document).foundation();

            window.setInterval(function () {

                $.simpleWeather({
                    location: 'Austin, TX',
                    woeid: '',
                    unit: 'f',
                    success: function(weather) {
                        console.log(weather.currently);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });

            }, 3000);

        </script>

    </body>

</html>
